/*
* Collapse
*/

/*
*
* @ custom-properties
* :--collapse .collapse;
* :--collapse-content .collapse-content;
* :--collapse-content-checked .collapse-content-checked;
* :--collapse-item .collapse-item;
* :--collapse-input .collapse-input;
* :--collapse-label .collapse-label;
* :--collapse-icon-right-left .icon.left;
* :--collapse-icon-right .icon.right;
*
*/

:--collapse {
  width: 100%;
  & :--collapse-item {
    position: relative;
    margin-bottom: 2px;
    width: 100%;
    color: var(--base-dark-color);
    overflow: hidden;
    border: 1px solid var(--base-light-color);
    transition: var(--transition);
    &:hover {
      border-color: var(--primary-color);
    }
  }
}

:--collapse-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  &:checked ~ label {
    & :--collapse-icon-right, & :--collapse-icon-left {
      transform: rotate(-180deg);
    }
  }
}

:--collapse-icon-right, :--collapse-icon-left {
  width: 22px;
  height: 22px;
  stroke: var(--base-dark-color);
  transition: var(--transition);
}

:--collapse-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  font-weight: 500;
  line-height: 3;
  cursor: pointer;
  &:hover {
    background: transparent;
  }
}
:--collapse-content {
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  transition: max-height .25s;
  & p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0;
  }
}
:--collapse-content-checked {
  max-height: 10em;
}
