/*
* Responsive
*/

@custom-media --phone-viewport only screen and (max-width: 25em);
@custom-media --tablet-viewport only screen and (max-width: 48em);
@custom-media --desktop-viewport only screen and (max-width: 62em);
@custom-media --desktop-large-viewport only screen and (max-width: 75em);

/*
* Avatar
*/

@custom-selector :--avatar .avatar;
@custom-selector :--avatar-primary .avatar.primary;
@custom-selector :--avatar-outline .avatar.outline;
@custom-selector :--avatar-small .avatar.small;
@custom-selector :--avatar-large .avatar.large;

/*
* Chips
*/

@custom-selector :--chips .chips;
@custom-selector :--chips-primary .chips.primary;
@custom-selector :--chips-error .chips.error;
@custom-selector :--chips-info .chips.info;
@custom-selector :--chips-warning .chips.warning;
@custom-selector :--chips-success .chips.success;
@custom-selector :--chips-dark .chips.dark;
@custom-selector :--chips-outline .chips.outline;
@custom-selector :--chips-small .chips.small;
@custom-selector :--chips-large .chips.large;

/*
* Alert
*/

@custom-selector :--alert .alert;
@custom-selector :--placeholder .placeholder;
@custom-selector :--info .info;
@custom-selector :--error .error;
@custom-selector :--warning .warning;
@custom-selector :--success .success;
@custom-selector :--rounded .rounded;
@custom-selector :--close .close;

/*
* Dialog
*/

@custom-selector :--dialog .dialog;
@custom-selector :--close .close;
@custom-selector :--overlay .overlay;

/*
* Card
*/

@custom-selector :--card .card;
@custom-selector :--header .card-header;
@custom-selector :--footer .card-footer;
@custom-selector :--title .card-title;
@custom-selector :--content .card-content;

/*
* Icons
*/

@custom-selector :--icon .icon;
@custom-selector :--icon-large .icon.lg;
@custom-selector :--icon-small .icon.sm;

/* 
 * Grid
*/

@custom-selector :--all-cols-xs .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12;
@custom-selector :--all-cols-sm .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12;
@custom-selector :--all-cols-md .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12;
@custom-selector :--all-cols-lg .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12;

/*
* Toggle
*/

@custom-selector :--toggle .toggle;
@custom-selector :--toggle-label .toggle-label;
@custom-selector :--toggle-activated .toggle.activated;
@custom-selector :--toggle-disabled .toggle.disabled;
@custom-selector :--toggle-checked .toggle-input:checked + .toggle-label;
@custom-selector :--toggle-input .toggle-input;

/*
* Collapse
*/

@custom-selector :--collapse .collapse;
@custom-selector :--collapse-content .collapse-content;
@custom-selector :--collapse-content-checked .collapse input:checked ~ .collapse-content;
@custom-selector :--collapse-item .collapse-item;
@custom-selector :--collapse-input .collapse input;
@custom-selector :--collapse-label .collapse label;
@custom-selector :--collapse-icon-left .icon.left;
@custom-selector :--collapse-icon-right .icon.right;