/*
* Chips
*/

@custom-selector :--chips .chips;
@custom-selector :--chips-primary .chips.primary;
@custom-selector :--chips-error .chips.error;
@custom-selector :--chips-info .chips.info;
@custom-selector :--chips-warning .chips.warning;
@custom-selector :--chips-success .chips.success;
@custom-selector :--chips-dark .chips.dark;
@custom-selector :--chips-outline .chips.outline;
@custom-selector :--chips-small .chips.small;
@custom-selector :--chips-large .chips.large;
