/*
* Avatar
*/

@custom-selector :--avatar .avatar;
@custom-selector :--avatar-primary .avatar.primary;
@custom-selector :--avatar-outline .avatar.outline;
@custom-selector :--avatar-small .avatar.small;
@custom-selector :--avatar-large .avatar.large;
