/*
* Responsive
*/

@custom-media --sm-viewport only screen and (max-width: 25em);
@custom-media --md-viewport only screen and (max-width: 48em);
@custom-media --lg-viewport only screen and (max-width: 62em);
@custom-media --xl-viewport only screen and (max-width: 75em);

/*
* Table
*/

@custom-selector :--table table, .table;

/*
* Buttons
*/

@custom-selector :--button button, .button, [type='submit'];
@custom-selector :--button-outline button.outline, .button.outline, [type='submit'].outline;
@custom-selector :--button-flat button.flat, .button.flat, [type='submit'].flat;
@custom-selector :--button-primary button.primary, .button.primary, [type='submit'].primary;
@custom-selector :--button-rounded button.rounded, .button.rounded, [type='submit'].rounded;
@custom-selector :--button-success button.success, .button.success, [type='submit'].success;
@custom-selector :--button-info button.info, .button.info, [type='submit'].info;
@custom-selector :--button-warning button.warning, .button.warning, [type='submit'].warning;
@custom-selector :--button-error button.error, .button.error, [type='submit'].error;
@custom-selector :--hovered :hover;
@custom-selector :--pressed :focus;
@custom-selector :--large .large;
@custom-selector :--small .small;



/*
* Forms
*/

@custom-selector :--fields input[type='text'], input[type='password'], input[type='email'], input[type='search'], input[type='number'], input[type='file'], input[type='tel'], input[type='url'], select, textarea, textarea[type='text'];
@custom-selector :--textarea textarea, textarea[type='text'];
@custom-selector :--checkbox input[type='checkbox'];
@custom-selector :--radio input[type='radio'];
@custom-selector :--hovered :hover;
@custom-selector :--pressed :focus;



