/*
* Icons
*/

/*
*
* @ custom-properties
* :--icon .icon;
* :--icon-large .icon.lg;
* :--icon-small .icon.sm;
*
*/

:--icon {
  width: 32px;
  height: 32px;
  stroke: var(--primary-color);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: var(--primary-color);
}

:--icon-large {
  width: 52px;
  height: 52px;
}

:--icon-small {
  width: 20px;
  height: 20px;
}
