/*
* Toggle
*/

/*
*
* @ custom-properties
* :--toggle .toggle;
* :--toggle-small .toggle.small;
* :--toggle-label .toggle-label;
* :--toggle-activated .toggle.activated;
* :--toggle-disabled .toggle.disabled;
* :--toggle-checked .toggle-input:checked + .toggle-label;
* :--toggle-input .toggle-input;
*
*/

:--toggle {
  position: relative;
  display: inline-block;
}

/*
* Hide input
*/

:--toggle-input {
  display: none;
}

/*
* Toggle Label
*/

:--toggle-label {
  display: block;
  width: var(--toggle-label-width);
  height: var(--toggle-label-height);
  text-indent: -9999px;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  &:before {
    width: var(--toggle-rail-width);
    height: var(--toggle-rail-height);
    background-color: var(--toggle-rail-background-color);
    border-radius: var(--toggle-rail-border-radius);
    transition: background-color var(--toggle-transition-duration)
      var(--toggle-transition-timing-function);
  }
  &:after {
    top: 0;
    left: 0;
    width: var(--toggle-width);
    height: var(--toggle-height);
    border-radius: var(--toggle-border-radius);
    background-color: var(--toggle-background-color);
    transition: left var(--toggle-transition-duration)
      var(--toggle-transition-timing-function);
    box-shadow: var(--toggle-box-shadow);
  }
}

/*
* Toggle checked
*/

:--toggle-checked {
  &:before {
    background-color: var(--toggle-rail-checked-background-color);
  }
  &:after {
    left: var(--toggle-checked-left);
  }
}

/*
* Toggle activated
*/
:--toggle-activated {
  & :--toggle-label {
    opacity: 1;
    &:before {
      background-color: var(--base-success-color);
    }
    &:after {
      left: 24px;
    }
  }
  & :--toggle-checked {
    &:before {
      background-color: var(--toggle-rail-background-color);
    }
    &:after {
      left: 0 !important;
    }
  }
}

/*
* Toggle disabled
*/

:--toggle-disabled {
  cursor: default;
  & :--toggle-checked {
    opacity: 0.7;
    &:before {
      background-color: var(--toggle-rail-background-color);
    }
    &:after {
      left: var(--toggle-checked-left);
    }
  }
  & :--toggle-label {
    opacity: 0.7;
    cursor: default;
    &:before {
      background-color: var(--toggle-rail-background-color);
      cursor: default;
    }
    &:after {
      top: 0;
      left: 0 !important;
      box-shadow: var(--toggle-box-shadow);
    }
  }
}
