/* Reproduce @variables */
:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --primary-color: #8549b9;
  --secondary-color: #a460e8;
  --base-color: #e6ecf0;
  --base-dark-color: #282828;
  --base-light-color: #f0f0f0;
  --base-border-color: #a4a4a4;
  --base-text-color: #4c4c4c;
  --base-label-color: #6f6f6f;

  --base-line-height: 1.5;
  --base-font-size: 1.6rem;
  --transition: all 0.2s ease-in-out;
  --base-radius: 4px;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
