/* Reproduce @variables */
:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --primary-color: #667eea;
  --secondary-color: #764ba2;
  --base-color: #e6ecf0;
  --base-dark-color: #282828;
  --base-light-color: #f1f1f1;
  --base-border-color: #a4a4a4;
  --base-text-color: #444;
  --base-light-text-color: #ccc;
  --base-line-height: 1.5;
  --base-font-size: 1.6rem;
  --transition: all 0.2s ease-in-out;
  --base-radius: 4px;
}

/* Main container*/
.wrapper {
  max-width: 60%;
  margin: 60px auto;
  /* background: #000; */
}
button {
  width: 90%;
}
.container {
  margin-top: 30px;
}

.section h4 {
  margin-top: 30px;
}
#typhography h4 {
  margin-top: 0;
}

/* Hero */
.hero {
  padding: 30px 0;
}
.hero h3 {
  font-weight: bold;
}
.hero h5 {
  color: #444;
  font-size: 24px;
  font-weight: 300;
}
.hero iframe {
  display: flex;
  margin: 0 auto 10px auto;
}
.hero small {
  color: #999;
  font-size: 14px;
  display: block;
}
.footer {
  margin-top: 80px;
}

/* Sections */
#docs-app .section {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
}
#docs-app .section > .title {
  color: var(--primary-color);
}
#button .row {
  margin: 20px 0;
}
#button p {
  margin-bottom: 0;
}
#grid h5 {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 100%;
  display: block;
}

/* Grid samples*/
.box-row,
.box {
  background: var(--base-color);
  margin: 5px 0;
  height: 5px;
  padding: 10px;
  color: var(--base-text-color);
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
}
.reorder .box,
.reorder .box-nested {
  height: 18px;
}
.reorder .box-nested {
  color: #fff;
}
.size {
  height: 100px;
  border: 1px solid #e6e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.box-nested {
  background: var(--primary-color);
  height: 5px;
  border-radius: 68px;
}
.description {
  color: #666;
  font-size: 16px;
}

.margin {
  margin-top: 30px;
}

#grid code {
  margin: 20px 0 10px 0;
  display: table;
}
.red {
  color: red;
}

.margin-bottom {
  margin-bottom: 20px;
  display: table;
  width: 100%;
}
* {
  font-family: Catamaran;
}
.badge-version {
  border: 1px solid #e5e5e5;
  display: table !important;
  margin: 20px auto;
  border-radius: 4px;
  padding: 5px 10px;
  width: auto;
}
.badge-version a {
  font-weight: 700;
}

.sidenav {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  z-index: 1;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenav a {
  padding: 5px 15px;
  outline: 0;
}
.avatar-margins div {
  margin: 0 5px;
}

.icons {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icons__item {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  margin: 10.5px;
  line-height: 0;
}
.name {
  display: flex;
  line-height: 17px;
  font-size: 13px;
  margin-top: 15px;
  font-weight: 500;
}
