/*
 * Buttons
*/

/*
*
* @ custom-properties
* :--button button, .button, [type='submit'];
* :--button-outline button.outline, .button.outline, [type='submit'].outline;
* :--button-flat button.flat, .button.flat, [type='submit'].flat;
* :--button-primary button.primary, .button.primary, [type='submit'].primary;
* :--button-rounded button.rounded, .button.rounded, [type='submit'].rounded;
* :--button-success button.success, .button.success, [type='submit'].success;
* :--button-error button.error, .button.error, [type='submit'].error;
* :--hovered :hover;
* :--pressed :focus;
* :--large .large;
* :--small .small;
*
*/

/* Default */
:--button {
  padding: 1.1rem 3.5rem;
  font-size: var(--base-font-size);
  color: var(--base-text-color);
  background: color-mod(var(--base-color) alpha(-60%));
  border-radius: var(--base-radius);
  transition: var(--transition);
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
}

/* Status */
:--button:--hovered {
  color: var(--primary-color);
  background: color-mod(var(--base-color) alpha(-50%));
}
:--button:--pressed {
  outline: none;
  background: color-mod(var(--base-color) alpha(-20%));
}

/* Size */
:--button:--small {
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
}
:--button:--large {
  font-size: 1.8rem;
  padding: 1.8rem 4.2rem;
}

/* Outline */
:--button-outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--base-color);
}
:--button-outline:--hovered {
  background: none;
  border: 1px solid color-mod(var(--primary-color) alpha(-50%));
  color: color-mod(var(--primary-color) alpha(-50%));
}
:--button-outline:--pressed {
  border-color: color-mod(var(--primary-color) alpha(-20%));
  color: color-mod(var(--primary-color) alpha(-20%));
}

/* Flat */
:--button-flat {
  color: var(--primary-color);
  background: none;
  border: 1px solid transparent;
}
:--button-flat:--hovered {
  background: none;
  color: color-mod(var(--primary-color) alpha(-20%));
}
:--button-flat:--pressed {
  color: color-mod(var(--primary-color) alpha(-10%));
}

/* Primary */
:--button-primary {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid transparent;
}
:--button-primary:--hovered {
  background: color-mod(var(--primary-color) alpha(-20%));
  color: #fff;
}
:--button-primary:--pressed {
  background: color-mod(var(--primary-color) alpha(-10%));
}

/* Rounded */
:--button-rounded {
  border-radius: 28px;
}

/* Success */
:--button-success {
  color: #fff;
  background: var(--base-success-color);
  border: 1px solid transparent;
}
:--button-success:--hovered {
  background: color-mod(var(--base-success-color) alpha(-20%));
  color: #fff;
}
:--button-success:--pressed {
  background: color-mod(var(--base-success-color) alpha(-10%));
}

/* Error */
:--button-error {
  color: #fff;
  background: var(--base-error-color);
  border: 1px solid transparent;
}
:--button-error:--hovered {
  background: color-mod(var(--base-error-color) alpha(-20%));
  color: #fff;
}
:--button-error:--pressed {
  background: color-mod(var(--base-error-color) alpha(-10%));
}
