/*
 * Buttons
*/

/*
*
* @ custom-properties
* :--button button, .button, [type='submit'];
* :--button-outline button.outline, .button.outline, [type='submit'].outline;
* :--button-flat button.flat, .button.flat, [type='submit'].flat;
* :--button-primary button.primary, .button.primary, [type='submit'].primary;
* :--button-rounded button.rounded, .button.rounded, [type='submit'].rounded;
* :--button-success button.success, .button.success, [type='submit'].success;
* :--button-error button.error, .button.error, [type='submit'].error;
* :--hovered :hover;
* :--pressed :focus;
* :--large .large;
* :--small .small;
*
*/

/* Default */
:--button {
  padding: 0 1.5rem;
  font-size: var(--base-font-size);
  min-height: 52px;
  font-weight: 600;
  color: var(--base-text-color);
  background: var(--base-light-color);
  border-radius: var(--base-radius);
  transition: var(--transition);
  border: 1px solid transparent;
  line-height: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  & .icon {
    margin: 0 5px;
    stroke: var(--base-text-color);
  }
}

/* Status */
:--button:--hovered {
  color: color-mod(var(--base-text-color) alpha(-30%));
  background: color-mod(var(--base-light-color) alpha(-30%));
  & .icon {
    stroke: color-mod(var(--base-text-color) alpha(-30%));
  }
}
:--button:--pressed {
  outline: none;
  background: color-mod(var(--base-light-color) alpha(-20%));
  & .icon {
    stroke: color-mod(var(--base-text-color) alpha(-30%));
  }
}

/* Size */
:--button:--small {
  font-size: calc(var(--base-font-size) - 0.2rem);
  min-height: 36px;
  font-weight: 700;
  line-height: 1.2rem;
}
:--button:--large {
  font-size: calc(var(--base-font-size) + 0.4rem);
  min-height: 58px;
  padding: 1.4rem 3.2rem;
  line-height: 1.4rem;
}

/* Outline */
:--button-outline {
  color: var(--base-text-color);
  background: none;
  border: 1px solid var(--base-text-color);
  &.primary {
    color: var(--primary-color);
    background: none;
    border: 1px solid var(--primary-color);
    &:hover {
      background: none;
      border: 1px solid color-mod(var(--primary-color) alpha(-30%));
      color: color-mod(var(--primary-color) alpha(-30%));
    }
    &:focus,
    &:active {
      background: none;
      border-color: color-mod(var(--primary-color) alpha(-20%));
      color: color-mod(var(--primary-color) alpha(-20%));
    }
  }
}
:--button-outline:--hovered {
  background: none;
  border: 1px solid color-mod(var(--base-text-color) alpha(-30%));
  color: color-mod(var(--base-text-color) alpha(-30%));
}
:--button-outline:--pressed {
  border-color: color-mod(var(--base-text-color) alpha(-20%));
  color: color-mod(var(--base-text-color) alpha(-20%));
}

/* Flat */
:--button-flat {
  color: var(--base-text-color);
  background: none;
  border: 1px solid transparent;
  &.primary {
    color: var(--primary-color);
    &:hover {
      color: color-mod(var(--primary-color) alpha(-20%));
    }
    &:active,
    &:focus {
      color: color-mod(var(--primary-color) alpha(-10%));
    }
    & .icon {
      stroke: var(--primary-color);
    }
  }
}
:--button-flat:--hovered {
  background: none;
  color: color-mod(var(--base-text-color) alpha(-20%));
}
:--button-flat:--pressed {
  color: color-mod(var(--base-text-color) alpha(-10%));
}

/* Primary */
:--button-primary {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid transparent;
  & .icon {
    stroke: #fff;
  }
}
:--button-primary:--hovered {
  background: color-mod(var(--primary-color) alpha(-20%));
  color: #fff;
}
:--button-primary:--pressed {
  background: color-mod(var(--primary-color) alpha(-10%));
}

/* Rounded */
:--button-rounded {
  border-radius: 50px;
}

/* Success */
:--button-success {
  color: #fff;
  background: var(--base-success-color);
  border: 1px solid transparent;
  & .icon {
    stroke: #fff;
  }
}
:--button-success:--hovered {
  background: color-mod(var(--base-success-color) alpha(-20%));
  color: #fff;
}
:--button-success:--pressed {
  background: color-mod(var(--base-success-color) alpha(-10%));
}

/* Error */
:--button-error {
  color: #fff;
  background: var(--base-error-color);
  border: 1px solid transparent;
  & .icon {
    stroke: #fff;
  }
}
:--button-error:--hovered {
  background: color-mod(var(--base-error-color) alpha(-20%));
  color: #fff;
}
:--button-error:--pressed {
  background: color-mod(var(--base-error-color) alpha(-10%));
}

/* Warning */
:--button-warning {
  color: #fff;
  background: var(--base-warning-color);
  border: 1px solid transparent;
  & .icon {
    stroke: #fff;
  }
}
:--button-warning:--hovered {
  background: color-mod(var(--base-warning-color) alpha(-20%));
  color: #fff;
}
:--button-warning:--pressed {
  background: color-mod(var(--base-warning-color) alpha(-10%));
}

/* Info */
:--button-info {
  color: #fff;
  background: var(--base-info-color);
  border: 1px solid transparent;
  & .icon {
    stroke: #fff;
  }
}
:--button-info:--hovered {
  background: color-mod(var(--base-info-color) alpha(-20%));
  color: #fff;
}
:--button-info:--pressed {
  background: color-mod(var(--base-info-color) alpha(-10%));
}
