/*
* Card
*/

/*
*
* @ custom-properties
* :--card .card;
* :--header .card-header;
* :--footer .card-footer;
* :--content .card-content;
*
*/

:--card {
  border: 1px solid var(--base-light-color);
  background: #fff;
  border-radius: var(--base-radius);
}
:--card :--header, :--card :--footer {
  position: relative;
  background: transparent;
  padding: 15px;
  display: flex;
}
:--card :--header {
  border-bottom: 1px solid var(--base-light-color);
}
:--card :--footer {
  border-top: 1px solid var(--base-light-color);
}
:--card :--title {
  margin: 0;
}
:--card :--content {
  padding: 20px 15px;
}
