/* 
 * Forms
*/

@custom-selector :--all-fields input[type='text'], input[type='password'], input[type='email'], input[type='search'], input[type='number'], input[type='file'], input[type='tel'], input[type='url'], select, textarea, textarea[type='text'];

:--all-fields {
  width: 100%;
  height: 42px;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid var(--base-border-color);
  border-radius: var(--base-radius);
  transition: var(--transition-ease-in-out);
  &:hover {
    border: 1px solid color(var(--primary-color) alpha(80%));
  }
  &:focus {
    outline: none;
    border: 1px solid color(var(--primary-color) blackness(20%));
    box-shadow: color(var(--primary-color) alpha(60%)) 0px 0px 4px -1px;
  }
}

textarea,
textarea[type='text'] {
  min-height: 7rem;
}
