/*
* Responsive
*/

/*
*
* @ custom-properties
* --sm-viewport only screen and (max-width: 25em);
* --md-viewport only screen and (max-width: 48em);
* --lg-viewport only screen and (max-width: 62em);
* --xl-viewport only screen and (max-width: 75em);
*
*/

@media (--sm-viewport) {
  .hide-sm {
    display: none;
  }
}

@media (--md-viewport) {
  .hide-md {
    display: none;
  }
}

@media (--lg-viewport) {
  .hide-lg {
    display: none;
  }
}

@media (--xl-viewport) {
  .hide-xl {
    display: none;
  }
}
