/*
* Responsive
*/

@custom-media --phone-viewport only screen and (max-width: 25em);
@custom-media --tablet-viewport only screen and (max-width: 48em);
@custom-media --desktop-viewport only screen and (max-width: 62em);
@custom-media --desktop-large-viewport only screen and (max-width: 75em);

@media (--phone-viewport) {
  .hide-phone {
    display: none;
  }
}

@media (--tablet-viewport) {
  .hide-tablet {
    display: none;
  }
}

@media (--desktop-viewport) {
  .hide-desktop {
    display: none;
  }
}