/*
* Variables
*/

:root {
  --primary-color: #674CD8;
  --base-color: #323232;
  --base-light-color: #f1f1f1;
  --base-border-color: #a4a4a4;
  --base-text-color: #444;
  --base-light-text-color: #d1d1d1;
  --base-line-height: 1.5;
  --base-font-size: 1.6rem;
  --base-font-family: -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --transition-ease-in-out: all 0.2s ease-in-out;
  --base-radius: 4px;
}
